### load extention

In [1]:
%load_ext ipydb

Welcome to ipydb 0.0.2!
type %ipydb_help for documentation of ipydb

In [2]:
!ls

chinook.sqlite               ipydb_pandas_DataFrame.ipynb

In [3]:
%connect mydb

ipydb is connecting to: postgresql://:xxx@localhost:5432/hacking
ipydb is fetching database metadata

In [4]:
%connecturl sqlite:///chinook.sqlite

ipydb is connecting to: sqlite:///chinook.sqlite
ipydb is fetching database metadata

### fetch data and return as a pandas DataFrame

In [5]:
data = %sql -P select * from Album;

In [6]:
data.head(5)

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 0 to 346
Data columns (total 3 columns):
AlbumId     347 non-null int64
Title       347 non-null object
ArtistId    347 non-null int64
dtypes: int64(2), object(1)
memory usage: 10.8+ KB

In [8]:
data[(data.ArtistId < 100) & (data.ArtistId > 80) & (data.Title.str.contains('Use'))]

    AlbumId                 Title  ArtistId
90       91   Use Your Illusion I        88
91       92  Use Your Illusion II        88

In [9]:
%ipydb_help

Welcome to ipydb 0.0.2!

ipydb has added the following `magic` commands to your ipython session:
-------------------
    %begin             Start a transaction.
    %commit            Commit active transaction, if one exists.
    %connect           Connect to a database using a configuration 'nickname'.
    %connecturl        Connect to a database using an SqlAlchemy style connection URL.
    %debug_ipydb       Toggle debugging mode for ipydb.
    %describe          Print information about table: columns and keys.
    %engine            Returns the current SqlAlchemy engine/connection.
    %fields            Show a list of fields and data types for the given table.
    %fks               Shows a list of foreign keys for the given table.
    %flushmetadata     Flush ipydb's schema caches for the current connection.
    %get_ipydb         Return the active ipdyb plugin instance.
    %ipydb_help        Show this help message.
    %joins             Shows a list of all joins involving a given table.
    %references        Shows a list of all foreign keys that reference the given field.
    %rereflect         Force re-loading of completion metadata.
    %rollback          Rollback active transaction, if one exists.
    %runsql            Run delimited SQL statements from a file
    %saveconnection    Save current connection to ~/.db-connections file.
    %set_reflection    Toggle schema reflection.
    %showsql           Toggle SQL statement logging from SqlAlchemy.
    %sql               ::
    %sqlformat         Change the output format.
    %tables            Show a list of tables for the current db connection.
    %views             Show a list of views for the current db connection.
-------------------

You can get detailed usage information for any of the above commands
by typing %magic_command_name? For example, to get help on %connect, type

    %connect?

Get started by connecting to a database using %connect_url or %connect